.vscode/**
.vscode-test/**
src/**
out/test/**
test/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
.github/**
node_modules/**
package-lock.json
test-workspace/**
extension/out/**
resources/*.gif
assets/**
.qodo/**
**/*.dot